.drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  .overlay {
    position: absolute;
    background-color: dimgray;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .content {
    position: absolute;
    background-color: white;
    opacity: 0;
    overflow: hidden;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;

    &.open {
      opacity: 1;
    }

    header {
      position: sticky;
      top: 0;
      background-color: white;
      height: 72px;
      display: flex;
      justify-content: flex-end;

      .cartButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 24px;
      }
    }

    .cartProducts {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      font-size: 14px;
      margin-bottom: 116px;

      .cartProduct {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 100%;
        padding: 24px 0;
        border-bottom: 2px solid grey;

        button {
          align-self: flex-start;
          cursor: pointer;
          background: transparent;
          border: none;
        }

        img {
          width: 45%;
          padding-right: 12px;
        }

        .details {
          padding-right: 12px;

          .title {
            font-size: 16px;
            padding-bottom: 12px;
            overflow-wrap: break-word;
          }

          span {
            padding-right: 8px;
          }
        }

        .price {
          white-space: nowrap;
        }
      }
    }

    footer {
      position: fixed;
      bottom: 0;
      background-color: white;
      height: 116px;
      display: flex;
      align-items: center;
      width: inherit;

      > div {
        width: 100%;
        padding: 24px;
        margin: 24px;
        border: 2px solid grey;
        font-size: 20px;
      }
    }
  }
}
