.wrapper {
  margin: 0 auto;
  width: 70%;
  padding: 48px 0 20px;

  .emptyState {
    padding-top: 40px;
    font-size: 16px;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .logo {
      width: 25%;
    }

    button {
      position: relative;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-left: 37%;

      .productsInCart {
        color: red;
        font-weight: 600;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -4px;
        margin-top: -4px;
      }
    }
  }

  .filters {
    padding: 32px 0;

    span {
      width: 112px;
      display: inline-block;
    }
  }

  .products {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }
}
